//Font Settings
$title-font: 'Architects Daughter', cursive;
$font-family: 'Source Sans Pro', sans-serif;
//font size is controlled in the mixins section

$code-family:"Courier 10 Pitch", Courier, monospace;
$code-size: 16;
$button-size: 12;

//Margin, Padding and other Layout Properties
$margin-bottom: 1.5em;
$border: 1px solid #74716F;
$border-radius: 10px;

//Color
$font-color: #74716F;
$code-color: #eee;
$title-color: #FF2632;
$background-color: #F4ECE9;
$link-color: #6ccbd0;
$link-visited-color: $link-color;
$link-hover-color: $title-color;
$button-color: $link-color;
