//Font Settings
$font-family: 'Architects-Daughter';
$font-size: 16px;
$font-rem: 1.6rem;
$code-family:"Courier 10 Pitch", Courier, monospace;
$code-size: 15px;
$code-rem: 1.5rem;
$button-size: 12px;

//Margin, Padding and other Layout Properties
$margin-bottom: 1.5em;
$border: 1px solid #ccc;
$border-radius: 3px;
$padding: 2.5%;
$margin: 2.5%;

//Color
$font-color: #74716F;
$title-color: #FF2632;
$background-color: #F4ECE9;
$link-color: darken(#93D9DC, 10%);
$link-visited-color: $link-color;
$link-hover-color: #FB5667;
$button-color: #FB5667;
